<div class="welcome my-2">
  <pre>
  /$$$$$$            /$$           /$$                                 /$$   /$$
 /$$__  $$          |__/          | $$                                | $$  /$$/
| $$  \ $$ /$$$$$$$  /$$  /$$$$$$ | $$$$$$$   /$$$$$$  /$$$$$$$       | $$ /$$/   /$$$$$$   /$$$$$$
| $$$$$$$$| $$__  $$| $$ /$$__  $$| $$__  $$ |____  $$| $$__  $$      | $$$$$/   |____  $$ /$$__  $$
| $$__  $$| $$  \ $$| $$| $$  \__/| $$  \ $$  /$$$$$$$| $$  \ $$      | $$  $$    /$$$$$$$| $$  \__/
| $$  | $$| $$  | $$| $$| $$      | $$  | $$ /$$__  $$| $$  | $$      | $$\  $$  /$$__  $$| $$
| $$  | $$| $$  | $$| $$| $$      | $$$$$$$/|  $$$$$$$| $$  | $$      | $$ \  $$|  $$$$$$$| $$
|__/  |__/|__/  |__/|__/|__/      |_______/  \_______/|__/  |__/      |__/  \__/ \_______/|__/
  </pre>

  Welcome to my terminal portfolio. (v1.0.0)
  <p>-------</p>
  This project's source code can be found in this project's
  <a class="underline-hover-effect" href="https://github.com/anirban983/terminal-portfolio" target="_blank"
    >GitHub repo</a
  >.
  <p>-------</p>
  For a list of avaiable commands type &#39;<span class="text-guppie-green">help</span>&#39;
</div>
