<div class="welcome my-1 mb-2">
  <pre>
                _     __                  __  __
    /\         (_)    | |                 | |/ /
   /  \   _ __  _ _ __| |__   __ _ _ __   | ' / __ _ _ __
  / /\ \ | '_ \| | '__| '_ \ / _` | '_ \  |  < / _` | '__|
 / ____ \| | | | | |  | |_) | (_| | | | | | . \ (_| | |
/_/    \_\_| |_|_|_|  |_.__/ \__,_|_| |_| |_|\_\__,_|_|
  </pre>

  Welcome to my terminal portfolio. (Version 1.0.0)
  <p>-------</p>
  This is project's source code can be found in this project's
  <a class="underline-hover-effect" href="https://github.com/anirban983/terminal-portfolio" target="_blank"
    >GitHub repo</a
  >.
  <p>-------</p>
  For a list of avaiable commands type &#39;<span class="text-guppie-green">help</span>&#39;
</div>
