:root {
  --rich-black: #09111a;
  --columbia-blue: #cbd5e1;
  --bright-pink: #ff0883;
  --guppie-green: #08ff83;
  --blaze-orange: #fd6b00;
  --charcoal: #36454f;
  --lotion: #fafafa;
  --skobeloff: #027474;
  --lavender-indigo: #a142f4;
  --white: #ffffff;
  --dark-chocolate: #2d0922;
  --kiwi: #80d932;
  --mandarin: #f47845;
  --dark-gunmetal: #19252e;
  --argent: #c1c1c1;
  --raisin-black: #2a1f1d;
  --light-goldenrod-yellow: #fff9d5;
  --cinnabar: #e84627;
  --liver: #573d26;
}
