<div>
  <p>Greetings, my name is <b>Anirban Kar</b>.</p>

  <p>I&apos;m a <b>software engineer</b> based in New Delhi, India.</p>

  <p>
    With a comprehensive experience of more than three years, I specialize in <b> full-stack development </b> <br />
    with experience in designing, developing, implementing and deploying applications and solutions <br />
    using a range of technologies and programming languages.
  </p>

  <p>I am <b>passionate</b> about writing codes and developing web applications to solve real-life challenges.</p>
</div>
