<div class="terminal">
  <ng-container *ngFor="let commandItem of commandItems">
    <div class="run-command">
      <span class="text-bright-pink">visitor</span>@<span class="text-guppie-green">terminal.anirbankar.dev</span>:~$
      <input
        autofocus
        #commandInputs
        class="font-family-monospace"
        [(ngModel)]="commandItem.command"
        [disabled]="commandItem.disabled"
        (blur)="focusOnInputField()"
        (input)="getHints(commandItem.id)"
        (keydown.enter)="executeCommand(commandItem.id)"
        (keydown.arrowdown)="$event.preventDefault(); goToNextStep()"
        (keydown.arrowup)="$event.preventDefault(); goToPreviousStep()"
        (keydown.control.l)="$event.preventDefault(); clearTerminal()"
        (keydown.control.l)="$event.preventDefault(); clearTerminal()"
        (keydown.tab)="$event.preventDefault(); autoComplete(commandItem.id)"
        (keydown.control.i)="$event.preventDefault(); autoComplete(commandItem.id)"
      />
    </div>

    <ng-container *ngIf="commandItem.entered">
      <div *ngIf="commandItem.exists" class="show-output" [ngSwitch]="commandItem.command">
        <app-about *ngSwitchCase="'about'"></app-about>
        <app-education *ngSwitchCase="'education'"></app-education>
        <app-welcome *ngSwitchCase="'welcome'"></app-welcome>
        <app-help *ngSwitchCase="'help'"></app-help>
        <app-interests *ngSwitchCase="'interests'"></app-interests>
      </div>

      <div *ngIf="!commandItem.exists" class="show-output" [ngSwitch]="commandItem.command">
        <app-not-found [command]="commandItem.command"></app-not-found>
      </div>
    </ng-container>
  </ng-container>
</div>
