.terminal {
  padding: 1rem;

  .command-input-div {
    display: flex;

    input {
      margin-left: 0.5rem;
      width: 100%;
      color: var(--columbia-blue);
      caret-color: var(--guppie-green);
      background: transparent;
      outline: none;
      border: none;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}
